<!DOCTYPE html>
<html>
    <head>
        <title>TODO List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="w3.css">
        <link rel="stylesheet" href="w3-theme-teal.css">
        <link rel="stylesheet" href="style.css"> 
        <script src="jquery-2.2.4.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="todo.js"></script>
    </head>
    <body class="w3-container w3-theme-dark">
        <div ng-app="todoApp" ng-controller="todoCtrl">
            <div class="w3-container w3-blue w3-padding-16 w3-card-4 w3-theme-light">
                <form class="w3-form w3-padding-0" ng-submit="submit()">
                    <input class="w3-input w3-theme-light w3-text-theme" type="text" name="task" placeholder="New task" autocomplete="off" ng-model="todo.task">
                </form>
                                      
                <div class="w3-margin-top">
                    <div class="w3-left">
                        <button class="w3-btn w3-theme-dark" ng-click="filterAll()">All</button>
                        <button class="w3-btn w3-theme-dark" ng-click="filterActive()">Active</button>
                        <button class="w3-btn w3-theme-dark" ng-click="filterCompleted()">Completed</button>
                    </div>
                    <div>
                        <button class="w3-btn w3-right w3-theme-dark" ng-click="clearCompleted()">Clear completed</button>
                    </div>                
                </div>
            </div>

            <div id="main">
                <div class="w3-container w3-card-2 w3-padding w3-margin-top w3-hover-theme w3-animate-zoom clickable" ng-repeat="t in todos" ng-click="checkDone(t)" ng-class="updateCssDone(t)">
                    <span class="w3-closebtn" ng-click="delete(t)">&#x2716;</span>
                    <span class="w3-closebtn" ng-click="edit(t)">&#x1f589;</span>
                    <div>{{t.task}}</div>                    
                </div>              
            </div>         
        </div>
    </body>
</html>