body, #main {
    overflow: auto; 
}

div {    
    word-wrap: break-word;
}

.striped-text {
    text-decoration: line-through;
}

.clickable {
    cursor: pointer;
}


li.removed-item {
    animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}
 
@keyframes removed-item-animation {
    from {
        opacity: 1;
        transform: scale(1);
    }
 
    to {
        opacity: 0;
        transform: scale(0);
    }
}
 
div.restored-item {
    animation: 
        /*make sure to open space up before bringing the item into position*/
        openspace .3s ease forwards, 
        restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}
 
@keyframes openspace {
    to {
        height: auto;
    }
}
 
@keyframes restored-item-animation {
    from {
        opacity: 0;
        transform: scale(0);
    }
 
    to {
        opacity: 1;
        transform: scale(1);
    }
}